<?xml version="1.0"?>

<config>
	<modules>
		<Payssion_Payment>
			<version>1.0.0</version>
		</Payssion_Payment>
	</modules>

	<global>

		<models>
			<payssion>
				<class>Payssion_Payment_Model</class>
			</payssion>
		</models>

		<blocks>
			<payssion>
				<class>Payssion_Payment_Block</class>
			</payssion>
		</blocks>

		<resources>
			<payssion_setup>
				<setup>
					<module>Payssion_Payment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</payssion_setup>
			<payssion_write>
				<connection>
					<use>core_write</use>
				</connection>
			</payssion_write>
			<payssion_read>
				<connection>
					<use>core_read</use>
				</connection>
			</payssion_read>
		</resources>
		<helpers>
			<payssion>
				<class>Payssion_Payment_Helper</class>
			</payssion>
		</helpers>
	</global>


	<frontend>
		<secure_url>
			<payssion_redirect>/payssion/redirect/00</payssion_redirect>
		</secure_url>
		<routers>
			<payssion>
				<use>standard</use>
				<args>
					<module>Payssion_Payment</module>
					<frontName>payssion</frontName>
				</args>
			</payssion>
		</routers>
		<translate>
			<modules>
				<Payssion_Payment>
					<files>
						<default>Payssion_Payment.csv</default>
					</files>
				</Payssion_Payment>
			</modules>
		</translate>
	</frontend>


	<adminhtml>
		<translate>
			<modules>
				<Payssion_Payment>
					<files>
						<default>Payssion_Payment.csv</default>
					</files>
				</Payssion_Payment>
			</modules>
		</translate>
	</adminhtml>

	<default>
		<payment>
			<payssion>
				<active>0</active>
				<model>payssion/payssion</model>
				<title>payssion.com</title>
			</payssion>
			<payssion7elevenmy>
				<active>0</active>
				<model>payssion/payssion7elevenmy</model>
				<title>7­eleven Malaysia</title>
			</payssion7elevenmy>
			<payssionaffinepgmy>
				<active>0</active>
				<model>payssion/payssionaffinepgmy</model>
				<title>Affin Bank</title>
			</payssionaffinepgmy>
			<payssionambmy>
				<active>0</active>
				<model>payssion/payssionambmy</model>
				<title>Am Online</title>
			</payssionambmy>
			<payssionatmvaid>
				<active>0</active>
				<model>payssion/payssionboleto</model>
				<title>Indonesia ATM Network Transfer Virtual Account</title>
			</payssionatmvaid>
			<payssionbanamexmx>
				<active>0</active>
				<model>payssion/payssionbanamex</model>
				<title>Banamex</title>
			</payssionbanamexmx>
			<payssionbancodobrasilbr>
				<active>0</active>
				<model>payssion/payssionbancodobrasil</model>
				<title>Banco do Brasil</title>
			</payssionbancodobrasilbr>
			<payssionbancomerbr>
				<active>0</active>
				<model>payssion/payssionbancomer</model>
				<title>Bancomer(BBVA)</title>
			</payssionbancomerbr>
			<payssionboletobr>
				<active>0</active>
				<model>payssion/payssionboleto</model>
				<title>Boleto</title>
			</payssionboletobr>
			<payssionbradescobr>
				<active>0</active>
				<model>payssion/payssionbradesco</model>
				<title>Bradesco</title>
			</payssionbradescobr>
			<payssioncaixabr>
				<active>0</active>
				<model>payssion/payssioncaixa</model>
				<title>Caixa Brazil</title>
			</payssioncaixabr>
			<payssioncashu>
				<active>0</active>
				<model>payssion/payssioncashu</model>
				<title>CashU</title>
			</payssioncashu>
			<payssioncherrycredits>
				<active>0</active>
				<model>payssion/payssioncherrycredits</model>
				<title>cherrycredits</title>
			</payssioncherrycredits>
			<payssioncimbmy>
				<active>0</active>
				<model>payssion/payssioncimbmy</model>
				<title>CIMB Clicks</title>
			</payssioncimbmy>
			<payssiondragonpayph>
				<active>0</active>
				<model>payssion/payssiondragonpayph</model>
				<title>Dragonpay</title>
			</payssiondragonpayph>
			<payssionenetssg>
				<active>0</active>
				<model>payssion/payssionenetssg</model>
				<title>eNETS Debit</title>
			</payssionenetssg>
			<payssionepaymy>
				<active>0</active>
				<model>payssion/payssionepaymy</model>
				<title>epay</title>
			</payssionepaymy>
			<payssionesapaymy>
				<active>0</active>
				<model>payssion/payssionesapaymy</model>
				<title>EsaPAY</title>
			</payssionesapaymy>
			<payssionfpxmy>
				<active>0</active>
				<model>payssion/payssionfpxmy</model>
				<title>MyClear FPX</title>
			</payssionfpxmy>
			<payssionhlbmy>
				<active>0</active>
				<model>payssion/payssionhlbmy</model>
				<title>Hong Leong Connect</title>
			</payssionhlbmy>
			<payssionitaubr>
				<active>0</active>
				<model>payssion/payssionitau</model>
				<title>Banco Itaú</title>
			</payssionitaubr>
			<payssionmaybank2umy>
				<active>0</active>
				<model>payssion/payssionmaybank2umy</model>
				<title>Maybank2u</title>
			</payssionmaybank2umy>
			<payssionneosurf>
				<active>0</active>
				<model>payssion/payssionneosurf</model>
				<title>neosurf</title>
			</payssionneosurf>
			<payssionnganluongvn>
				<active>0</active>
				<model>payssion/payssionnganluongvn</model>
				<title>Nganluong</title>
			</payssionnganluongvn>
			<payssiononecard>
				<active>0</active>
				<model>payssion/payssiononecard</model>
				<title>onecard</title>
			</payssiononecard>
			<payssionopenbucks>
				<active>0</active>
				<model>payssion/payssionopenbucks</model>
				<title>Pay with Gift Cards using Openbucks</title>
			</payssionopenbucks>
			<payssionoxxomx>
				<active>0</active>
				<model>payssion/payssionoxxo</model>
				<title>Oxxo</title>
			</payssionoxxomx>
			<payssionpaysafecard>
				<active>0</active>
				<model>payssion/payssionpaysafecard</model>
				<title>paysafecard</title>
			</payssionpaysafecard>
			<payssionpaysbuyth>
				<active>0</active>
				<model>payssion/payssionpaysbuyth</model>
				<title>Paysbuy</title>
			</payssionpaysbuyth>
			<payssionmolpay>
				<active>0</active>
				<model>payssion/payssionmolpay</model>
				<title>MOLPay</title>
			</payssionmolpay>
			<payssionpoliau>
				<active>0</active>
				<model>payssion/payssionpoliau</model>
				<title>Australia bank transfer</title>
			</payssionpoliau>
			<payssionpolinz>
				<active>0</active>
				<model>payssion/payssionpolinz</model>
				<title>New Zealand bank transfer</title>
			</payssionpolinz>
			<payssionqiwi>
				<active>0</active>
				<model>payssion/payssionqiwi</model>
				<title>QIWI</title>
			</payssionqiwi>
			<payssionrhbmy>
				<active>0</active>
				<model>payssion/payssionrhbmy</model>
				<title>RHB Now</title>
			</payssionrhbmy>
			<payssionsantandermx>
				<active>0</active>
				<model>payssion/payssionsantandermx</model>
				<title>Santander Mexico</title>
			</payssionsantandermx>
			<payssionsingpostsg>
				<active>0</active>
				<model>payssion/payssionsingpostsg</model>
				<title>SAM by SingPost</title>
			</payssionsingpostsg>
			<payssionsofort>
				<active>0</active>
				<model>payssion/payssionsofort</model>
				<title>SOFORT</title>
			</payssionsofort>
			<payssiontrustpay>
				<active>0</active>
				<model>payssion/payssiontrustpay</model>
				<title>European Bank Transfer</title>
			</payssiontrustpay>
			<payssionwebcashmy>
				<active>0</active>
				<model>payssion/payssionwebcashmy</model>
				<title>Webcash</title>
			</payssionwebcashmy>

		</payment>
	</default>
</config>
